<div>
	<div class="loader" ng-if="loadingData">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<md-content layout-padding>
		<md-card class="gray-font fadeOutUp" ng-if="isEnterd">
			<div layout="row">
				<div class="spacer"></div>
				<div>
					<h1><i class="fa fa-graduation-cap"></i></h1>
				</div>
				<div class="spacer"></div>
			</div>
			<div layout="row">
				<div class="spacer"></div>
				<div>
					<h1>Welcome To SE-Hub</h1>
					<P>Software Engineering Course Made Easy</P>
					v1.0
				</div>
				<div class="spacer"></div>
			</div>
		</md-card>
	</md-content>
	
	<div ng-if="user.isLecturer"> <!-- Lecturer Mode -->
		<md-content layout-padding>
			<div layout="row" layout-margin layout-padding>
				<div>
					<md-card>
						<p class = "messagesFeed">Messages</p>
					</md-card>
				</div>
				<div>
					<md-card>
						<p class = "tasksFeed">Tasks</p>
					</md-card>
				</div>
			</div>
			<div layout="row" layout-margin layout-padding>
				<div>
					<md-card>
						<p id = "bindText" class = "messagesContent"></p>
					</md-card>
				</div>
				<div>
					<md-card>
						<p class = "tasksContent"> 
							For Task 3 Press: <a href="http://localhost:8080/home#/tasks">Task #3</a>
							<br></br>
							For Task 4 Press: <a href="http://localhost:8080/home#/home">Task #4</a>
							<br></br>
							For Task 5 Press: <a href="http://localhost:8080/home#/home">Task #5</a>
							<br></br>
							For Task 6 Press: <a href="http://localhost:8080/home#/home">Task #6</a>
							<br></br>
							For Task 7 Press: <a href="http://localhost:8080/home#/home">Task #7</a>
							<br></br>
							For Task 8 Press: <a href="http://localhost:8080/home#/home">Task #8</a>
						</p>
					</md-card>
				</div>
			</div>
			<div layout-margin layout padding>
				<md-button ng-click="addMessageClicked()" ng class="md-raised md-primary">Add Message</md-button>
			</div>
			<div ng-if="addMsg">
				<div layout = "row" layout-margin layout padding layout-align = "left center">	
					<md-button ng-click="postMessageClicked(msgToAdd)" ng class="md-raised md-primary">Post</md-button>
					<md-button ng-click="clearAllClicked()" ng class="md-raised md-primary">Clear All</md-button>
				</div>
				<div class="port_spacer">
				<md-input-container>
				<label> Write Your Desired Message Here And Press Post</label>
					<input type="text" id="msg" md-maxlength="150" minlength="1" ng-model="msgToAdd" required>
				</md-input-container>
			</div>
		</md-content>
	</div>
	<div ng-if="!user.isLecturer"> <!-- Student Mode -->
		<md-content layout-padding>
			<div layout="row" layout-margin layout-padding>
				<div>
					<md-card>
						<p class = "messagesFeed">Messages</p>
					</md-card>
				</div>
				<div>
					<md-card>
						<p class = "tasksFeed">Tasks</p>
					</md-card>
				</div>
			</div>
			<div layout="row" layout-margin layout-padding>
				<div>
					<md-card>
						<p id = "bindText" class = "messagesContent"></p>
					</md-card>
				</div>
				<div>
					<md-card>
						<p class = "tasksContent"> 
							For Task 3 Press: <a href="http://localhost:8080/home#/tasks">Task #3</a>
							<br></br>
							For Task 4 Press: <a href="http://localhost:8080/home#/home">Task #4</a>
							<br></br>
							For Task 5 Press: <a href="http://localhost:8080/home#/home">Task #5</a>
						</p>

					</md-card>
				</div>
			</div>
		</md-content>
	</div>

</div>