<div class = "myClasses">
	<md-content layout-padding layout-margin>
		<h1 layout-margin style="margin-left:15px"><i class="fa fa-graduation-cap"></i> My Classes</h1>
	</md-content>
	<md-card class="cardAllcourses">
		<div flex = "99" layout = "row" ng-repeat = "t in holdArrays" value = "{{t}}" layout-padding>
				<div flex = "32" layout = "column" ng-repeat = "course in t" value = "{{course}}" >
					<div ng-if = "!scope.coursesEmpty">
						<div ng-if="t.length != 1"> 
							<md-button ng-click = "goToClass(course.id)" style="width:100%; height:32%;" layout-padding class = "md-raised" >
								<md-card style="width:97%;height:97%">
									<md-card-content>
										<h2 class="md-title">{{course.courseName}}</h2> <!-- Should Be "course.title" -->
									</md-card-content>
		    					</md-card>
							</md-button>
						</div>
						<div ng-if="t.length == 1">
							<md-button ng-click = "goToClass(course.id)" style="width:32%; height:32%;" layout-padding class = "md-raised" >
								<md-card style="width:97%;height:97%">
					      			<md-card-content>
							        	<h2 class="md-title">{{course.courseName}}</h2> <!-- Should Be "course.title" -->
					      			</md-card-content>
		    					</md-card>
							</md-button>
						</div>
					</div>
					<div class="spacer"></div>
					<div ng-if = "scope.coursesEmpty">
						You Are Not Related To Any Course, You May Join Any Course You Wish.
					</div>
				</div>
			</div>

		<!-- <div flex = "99" class = "allcoursesShow" layout = "row" ng-repeat = "t in holdArrays" value = "{{t}}">
			<div flex ="32" layout = "column" ng-repeat = "course in t" value = "{{course}}" layout-padding>
				<div ng-if = "!scope.coursesEmpty">
					<md-card ng-click = "goToClass(course.id)" style="width:32%; height:32%;" layout-padding class = "campusCard">
						{{course.id}}
					</md-card>
				</div>
				<div ng-if = "scope.coursesEmpty">
					You Are Not Related To Any Course, You May Join Any Course You Wish.
				</div>
			</div>
		</div> -->
	</md-card>
	<div ng-if="user.isLecturer"> <!-- Lecturer Mode -->
		<div layout="row">
			<div layout-margin layout-padding>
				<md-button ng-click="createCourseClicked()" ng class="md-raised md-primary">Create Class</md-button>
			</div>
		</div>
		<div ng-if="isNewCourse">
			<md-content layout-padding>
				<md-card layout-padding>
					<div layout layout-sm="column">
						<!-- <input ng-model="course.campusName" required> -->
						<md-select placeholder = "Campus name" ng-model="course.campusName" ng-click = "chooseCampusClicked()" required>
							<md-option ng-repeat="c in campuses" value="{{c.title}}">
								{{c.title}}
							</md-option>
						</md-select>
					</div>
					<div layout layout-sm="column">
						<md-input-container style="width:80%">
							<label flex = "50">Class Name</label>
							<input ng-model="course.courseName" min-length="1" required>
						</md-input-container>
						<md-input-container flex = "20">
							<label>Course Start Date</label>
							<input type="date" ng-model="course.startDate" required>
						</md-input-container>
						<md-input-container flex = "20">
							<label>Course Finish Date</label>
							<input type="date" ng-model="course.endDate" required>
						</md-input-container>
					</div>
				</md-card>
				
				<div layout-padding layout-margin>
					<md-button ng-click="submitNewClassClicked()" class="md-raised md-primary">Submit New Class</md-button>
				</div>
			</md-content>
		</div>
		<div layout-margin layout-padding ng-if="showMyClass">
			<md-select placeholder="Choose Existing Course" ng-model="course" ng-click="chooseCourseClicked()" class="courseDropDown">
				<md-option ng-repeat="c in courses" value="{{c.course}}">{{c.course}}</md-option>
			</md-select>	
		</div>
	</div>

	<div ng-if="isStudent"> <!-- Student Mode -->
		<md-content layout-padding>
			<div layout="row" layout-margin layout-padding>
				<div>
					<md-card>
						<p class = "messagesFeed">Messages</p>
					</md-card>
				</div>
				<div>
					<md-card>
						<p class = "tasksFeed">Tasks</p>
					</md-card>
				</div>
			</div>
			<div layout="row" layout-margin layout-padding>
				<div>
					<md-card>
						<p id = "bindText" class = "messagesContent"></p>
					</md-card>
				</div>
				<div>
					<md-card>
						<p class = "tasksContent"> 
							For Task 3 Press: <a href="http://localhost:8080/home#/tasks">Task #3</a>
							<br></br>
							For Task 4 Press: <a href="http://localhost:8080/home#/home">Task #4</a>
							<br></br>
							For Task 5 Press: <a href="http://localhost:8080/home#/home">Task #5</a>
						</p>
					</md-card>
				</div>
			</div>
			<md-select placeholder="Choose Course" ng-model="course" ng-click="chooseCourseClicked()" style="z-index: 300"></md-select>
		</md-content>
	</div>
</div>