<div layout-padding>
	<div layout="row">
	<div flex="20" layout-padding>
		<h2>
			<i class="fa fa-info-circle"></i> Task Info: 
		</h2>
	</div>

	<div layout="column" flex="30" layout-padding>
		
		<div>
			<h2>
				<i class="fa fa-cubes"></i> Add A component: 
			</h2>
		</div>
		<div>
			Select Type:
			<md-select placeholder="Component Type" ng-model="newComp.type">
        		<md-option ng-repeat="component in componentTypes" value="{{component.type}}">{{component.type}}</md-option>
      		</md-select> 
		</div>
		<div>
			<md-input-container>
				<label>Label</label>
				<input ng-model="newComp.label" required>
    		</md-input-container>
		</div>
		<div>
			<md-switch ng-model="newComp.isMandatory" aria-label="Switch 1">
    			Mandatory?: {{ newComp.isMandatory}}
  			</md-switch>
  		</div>
  		<div layout="row">
  			<div flex="70"></div>
  			<md-button class="md-primary" ng-click="addComponent()">Add Component</md-button>
  		</div>

	</div flex="50" layout-padding>
		<!-- <md-card style="background-image: url('http://www.stationeryhq.com/content/images/thumbs/0000324_clipboard_500.png')">

		</md-card> -->
		<h2>
			<i class="fa fa-eye"></i> Task Preview:
		</h2>
		<p>{{task.toString()}}</p>
	</div>

</div>