<div class = "projects">
	<h1 style="margin-left:15px"><i class="fa fa-cube"></i> Projects</h1>
	<md-card class="cardAllProjects">	
		<div flex ="99" class = "allProjectsShow" layout = "row" ng-repeat = "t in arrayHolder" value = "{{t}}">
			<div flex = "32" layout = "column" ng-repeat = "project in t" value = "{{project}}" layout-padding>
				<div ng-if = "!scope.projectEmpty">
					<md-card layout-padding ng-click = "goToProject(project.id)" style="width:32%; height:32%;" class = "projectCard">
						{{project.id}}
					</md-card>
				</div>
			</div>
			<div ng-if = "scope.projectEmpty">
					You Are Not Related To Any Course, You May Join Any Course You Wish.
			</div>
		</div>
	</md-card>
	<md-content layout-padding layout-margin>
		<md-button ng-click="createProjectClicked()" ng class="md-raised md-primary">Create Project</md-button>
	</md-content>
</div>