<div class="register">
	<md-content layout-padding>
	<h1 style="margin-left:15px"><i class="fa fa-pencil"></i> Registration</h1>
	<md-card class="wellcome-float" style="margin-top: 15px;">
	<center>
		<p>First Login Of {{user.name}}</p>
		<div class="avatar">
			<img ng-src="{{user.avatar_url}}" alt="{{item.who}}" style="position:center !important;"/>
		</div>
	</center>
	<br><br>
	<div layout="col">
		<div>
			<md-input-container ng-if="userHasNoName">
			<label>Full Name: </label>
			<input ng-model="user.name" required>
			</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			Are You A Lecturer?	
			<md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5">
  			</md-switch>
		</div>
	</div>
		<div>
			<div class = "dropDown">
			<md-select placeholder="Pick your Campus" ng-model="campus" style="z-index: 300" ng-change="dropdownClicked()">
			<md-option ng-repeat="c in campuses" value="{{c.title}}">{{c.title}}</md-option>
			</md-select> 
		</div>
		<div layout="col">
			<div>
				<div class="campusAvatar" ng-if="campusChecked">
					<img ng-src="{{campusObj.avatar_url}}" alt="campusAvatar">
				</div>
			</div>
		</div>
			<div>
				<div class = "disabledSubmitButton">
					<md-button ng-click="submitClicked($event)" ng-disabled="!campusChecked" class="md-raised md-primary">Submit</md-button>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="center center">
			<div ng-if="campusChecked">
				<div>
					<md-input-container>
						<label>Academic Email</label>
						<input type="text" ng-model="user.AcMail" required/>
					</md-input-container>
				</div>
			</div>
			<div>
				<div class="mail_suffix">
						{{campusObj.email_ending}}
				</div>
			</div>
		</div>
	<!-- 	<div> // TODO return
			<p>
			<b>Note:</b> This setting can be changed in the future. <br>
			But Choose Now for easy Registration...
			</p>    
		</div> -->
		</div>
	</div>

	</md-card>
	</md-content>
</div>