<div>
	<div class="loader" ng-if="loadingData">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<md-content layout-padding>
		<md-card layout-padding>
			<h1><i class="fa fa-cogs"></i> {{title}}</h1>
		<div layout="row">
			<div>
				<md-card layout-padding>
					<div id="profile" layout="column">
						<div class="user-box" layout="row">
							<div>
								<img ng-src="{{user.avatar_url}}" alt="" style="width:20%">
							</div>
							<div flex="70%">
								<md-button class="md-raised" ng-click="changeProfileMode()">
									<i ng-class="[profileModeIcon]"></i> {{profileMode}}
								</md-button>
							</div>
						</div>
						<div>
							<h2>{{user.name}}</h2>
						</div>
						<div>
							Email: {{user.email}}
						</div>
						<div>
							I Am a: {{(user.isLecturer) ? "Lecturer" : "Student"}}
						</div>
					</div>
				</md-card>
			</div>
		</div>
		</md-card>



	</md-content>
</div>