<div class = "thisProject">
	<md-content layout-padding layout-margin>
		<h1 layout-margin style="margin-left:15px"><i class="fa fa-graduation-cap"></i> {{user.name}}'s project</h1>
		<div layout-padding layout-margin>	
			<div layout = "row" layout-padding layout-margin>
				<div flex = "49">
					Project Creator: {{user.name}} <!-- Should Be Project creator -->
				</div>
				<div flex = "49" >
					<div ng-if="user.isLecturer">
						<div layout = "row" layout-padding>
							<div>
								<md-button ng-click="editPressed()" class="md-raised md-primary">Edit</md-button>
							</div>
							<div ng-if="isEditPressed">
								<md-button ng-click="removeProject()" class="md-raised md-primary"><i class = "fa fa-trash-o"></i></md-button>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div layout = "row" layout-padding layout-margin>
				<div flex = "49">
					<md-card>
						Here Will Be Graph - Commits Over Period Of Time
					</md-card>
				</div>
				<div flex = "49">
					<md-card>
						Here Will Be Graph (by columns) - Commits, Issues, Open Tasks
					</md-card>
				</div>
			</div>
		</div>
	</md-content>
</div>